<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='manifest' href='/manifest.webmanifest' />
</head>
<body>
{{{body}}}
</body>
</html>